# ==== Python ====
__pycache__/
*.pyc

# ==== Environnement virtuel ====
.venv/
venv/
env/

# ==== Fichiers temporaires ====
*.log
*.tmp

# ==== Streamlit ====
.streamlit/

# ==== Données locales (ne pas commit les logs réels) ====
dataset_ssh.csv

# ==== OS junk ====
.DS_Store
Thumbs.db
